<main class="row .g-0">
    <div class=" mobile d-flex flex-wrap flex-row align-items-center justify-content-center container mt-5">
        {{!-- <div class="row"> --}}
        <div class="info-paragraph info col-sm-3 mx-2">
            <div>
                <h1 class="statement-header-text">Welcome to Read It!</h1>
                <p  class="px-2 align-item-center statement-p-text">The top spot for people that love books.
                    If you're anything like us, you love reading and often need a place to "shelve" your books. Received
                    an awesome book recommendation? Place it on your want-to-read shelf! Read something amazing lately?
                    Put it on your has-read shelf so you can remember to recommend it to others. Reading something
                    fantastic now? Shelve it under is-reading so when life gets hectic you don't forget about it.
                </p>
            </div>
        </div>

        <div class="mobileLogin col-sm-3 mx-2">
            <p class="login-label">Login</p>
            <form class="form login-form float-left">

                <div class="form-group">
                    <input type="email" id="email-login" class="form-control" placeholder="Email">
                    <i class="mdi mdi-account"></i>
                </div>

                <div class="form-group log-status">
                    <input type="password" class="form-control" placeholder="Password" id="password-login"> <i
                        class="mdi mdi-lock"></i>
                </div>

                <button type="submit" class="log-btn btn btn-light"><i class="mdi mdi-account"></i> Log in</button>

            </form>
        </div>

        <div class="col-sm-3 mx-2">
            <p class="signup-label">Sign up</p>
            <form class=" mobileSignup form signup-form">

                <div class="form-group">
                    <input type="first-name" id="firstname-signup" class="form-control" placeholder="First Name">
                    <i class="mdi mdi-account"></i>
                </div>

                <div class="form-group log-status">
                    <input type="last-name" class="form-control" placeholder="Last Name" id="lastname-signup"> <i
                        class="mdi mdi-lock"></i>
                </div>

                <div class="form-group">
                    <input type="email" id="email-signup" class="form-control" placeholder="Email">
                    <i class="mdi mdi-account"></i>
                </div>

                <div class="form-group log-status">
                    <input type="password" class="form-control" placeholder="Password (8+ char.)" id="password-signup"> <i
                        class="mdi mdi-lock"></i>
                </div>
                <button type="submit" class="log-btn btn btn-light"><i class="mdi mdi-account"></i> Sign-Up</button>
            </form>
        </div>

        {{!-- </div> --}}
    </div>

</main>
<script src="/js/login.js"></script>