<link rel="stylesheet" type="text/css" href="/css/homepage.css">

<main>

{{!-- <h1 class="text-center">Welcome to Read It</h1> --}}
{{!-- <h3 class="text-center">If You've Read It. Track It!</h3> --}}

<div class="d-flex flex-row align-items-center justify-content-between container mt-5">
    {{!-- <div class="row"> --}}
        <div class=" info col-sm-3">
            <div >
            <h1>Welcome to Read It!</h1>
            {{!-- <img class="bookStack" src="assets/bookStack.jpg" alt="stack of books"> --}}
            </div>
        </div>

        <div class="col-sm-3 border-end">
            <form class="form login-form float-left">

                <div class="form-group">
                    <input type="email" id="email-login" class="form-control" placeholder="Email">
                    <i class="mdi mdi-account"></i>
                </div>

                <div class="form-group log-status">
                    <input type="password" class="form-control" placeholder="Password" id="password-login"> <i
                        class="mdi mdi-lock"></i>
                </div>

                {{!-- <span class="alert">Invalid Credentials</span> <a class="link" href="#">Lost your password?</a> --}}

                <button type="submit" class="log-btn"><i class="mdi mdi-account"></i> Log in</button>

            </form>
        </div>
    

        <div class="col-sm-3">

            <form class="form signup-form">

                <div class="form-group">
                    <input type="first-name" id="firstname-signup" class="form-control" placeholder="First Name">
                    <i class="mdi mdi-account"></i>
                </div>

                <div class="form-group log-status">
                    <input type="last-name" class="form-control" placeholder="Last Name" id="lastname-signup"> <i
                        class="mdi mdi-lock"></i>
                </div>

                <div class="form-group">
                    <input type="email" id="email-signup" class="form-control" placeholder="Email">
                    <i class="mdi mdi-account"></i>
                </div>

                <div class="form-group log-status">
                    <input type="password" class="form-control" placeholder="Password" id="password-signup"> <i class="mdi mdi-lock"></i>
                </div>
                <button type="submit" class="log-btn"><i class="mdi mdi-account"></i> Sign-Up</button>
            </form>
        </div>



    {{!-- </div> --}}
</div>

</main>


<script src="/js/login.js"></script>